<% content_for :head_js do %>
<%= javascript_include_tag "flip_counter"%>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
<% end %>
<% content_for :head_css do %>
<%= stylesheet_link_tag "flip_counter"%>
<%= stylesheet_link_tag "flip_counter_page"%>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/vader/jquery-ui.css" />
<% end %>

  <div id="wrapper"><div id="flip-counter" class="flip-counter"></div></div>

  <div class="clear"></div>
  
	<ul id="demo_controls">
		<li class="auto_on_controls">Increment: 
			<span id="inc_value">60,000</span> <a href="#" class="expand">[?]</a><div id="inc_slider" class="demo_widget"></div>
			<div class="explain toggle">
				<p>This slider controls the counter increment by using the <b>setIncrement</b> method:</p>
				<code>myCounter.setIncrement(value);</code>
			</div>
		</li>
		<li class="auto_on_controls">Pace: 
			<span id="pace_value">600</span>ms <a href="#" class="expand">[?]</a><div id="pace_slider" class="demo_widget"></div>
			<div class="explain toggle">
				<p>This slider controls the counter pace by using the <b>setPace</b> method:</p>
				<code>myCounter.setPace(value);</code>
			</div>
		</li>
  </ul>
  <script type="text/javascript">
        //<![CDATA[

        $(function(){
                
                // Initialize a new counter
                var myCounter = new flipCounter('flip-counter', {value:60000, inc:60000, pace:600, auto:true});

		/**
		 * Demo controls
		 */
		
		var smartInc = 0;
		
		// Increment
		$("#inc_slider").slider({
			range: "max",
			value: 60000,
			min: 1,
			max: 100000,
			slide: function( event, ui ) {
				myCounter.setIncrement(ui.value);
				$("#inc_value").text(ui.value);
			}
		});
		
		// Pace
		$("#pace_slider").slider({
			range: "max",
			value: 600,
			min: 100,
			max: 2000,
			step: 100,
			slide: function( event, ui ) {
				myCounter.setPace(ui.value);
				$("#pace_value").text(ui.value);
			}
		});
		
		// Auto-increment
		$("#auto_toggle").buttonset();
		$("input[name=auto]").change(function(){
			if ($("#auto1:checked").length == 1){
				$("#counter_step").button({disabled: true});
				$(".auto_off_controls").hide();
				$(".auto_on_controls").show();
				
				myCounter.setPace($("#pace_slider").slider("value"));
				myCounter.setIncrement($("#inc_slider").slider("value"));
				myCounter.setAuto(true);
			}
			else{
				$("#counter_step").button({disabled: false});
				$(".auto_off_controls").show();
				$(".auto_on_controls").hide();
				$("#add_sub").buttonset();
				$("#set_val, #inc_to, #smart").button();
				myCounter.setAuto(false).stop();
			}
		});
		$("#counter_step").button({disabled: true});
		$("#counter_step").button().click(function(){
			myCounter.step();
			return false;
		});
		
		// Addition/Subtraction
		$("#add").click(function(){
			myCounter.add(567);
			return false;
		});
		$("#sub").click(function(){
			myCounter.subtract(567);
			return false;
		});
		
		// Set value
		$("#set_val").click(function(){
			myCounter.setValue(12345);
			return false;
		});
		
		// Increment to
		$("#inc_to").click(function(){
			myCounter.incrementTo(12345);
			return false;
		});
		
		// Get value
		$("#smart").click(function(){
			var steps = [12345, 17, 4, 533];

			if (smartInc < 4) runTest();
			
			function runTest(){
				var newVal = myCounter.getValue() + steps[smartInc];
				myCounter.incrementTo(newVal, 10, 600);
				smartInc++;
				if (smartInc < 4) setTimeout(runTest, 10000);
			}
			$(this).button("disable");
			return false;
		});
		
		// Expand help
		$("a.expand").click(function(){
			$(this).parent().children(".toggle").slideToggle(200);
			return false;
		});

        });

        //]]>
  </script>
